  <!-- <main> -->
        <div class="cart-checkout">
            <div class="container">

                <section class="cart-checkout__details">
                  <h4 class="cart-title">Shopping Cart</h4>
                    <ul class="cart-items__list">
                        <li class="cart-item">
                            <div class="product-head">
                                <figure class="cart-item__image">
                                    <img src="https://media.istockphoto.com/photos/fresh-vegetables-ready-for-cooking-shot-on-rustic-wooden-table-picture-id882314790?k=20&m=882314790&s=612x612&w=0&h=dPHS67BdSndEgPIb4eAsqRrsd3AQKU1vifQ2oLclRas=" alt="">
                                </figure>
                                <div class="cart-item__data">
                                    <a href="" class="product-name">Vegetarian</a>
                                    <div class="product-quantity">
                                        <label for="">Qty</label>
                                        <div class="qty-wrap">
                                            <button class="decrement qty-adjust">-</button>
                                            <input type="number" class="qty-input" value="1">
                                            <button class="increment qty-adjust">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-item__cost">
                                ₹ 200
                                <button class="remove-item">
                                    Remove
                                </button>
                            </div>
                        </li>
                        <li class="cart-item">
                            <div class="product-head">
                                <figure class="cart-item__image">
                                    <img src="https://media.istockphoto.com/photos/chicken-biryani-with-chicken-legs-on-the-top-picture-id611308140?s=612x612" alt="">
                                </figure>
                                <div class="cart-item__data">
                                    <a href="" class="product-name">Non Vegetarian</a>
                                    <div class="product-quantity">
                                        <label for="">Qty</label>
                                        <div class="qty-wrap">
                                            <button class="decrement qty-adjust">-</button>
                                            <input type="number" class="qty-input" value="1">
                                            <button class="increment qty-adjust">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-item__cost">
                                ₹ 260
                                <button class="remove-item">
                                    Remove
                                </button>
                            </div>
                        </li>
                    </ul>
                </section>



                <form action="">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="cart-checkout__form">
                                    <h4 class="form-group__title">Shipping Address</h4>
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <input type="text" placeholder="First Name">
                                        </div>
                                       
                                        <div class="form-group col-lg-6">
                                            <input type="text" placeholder="Last Name">
                                        </div>
                                      
                                        <div class="form-group col-lg-12">
                                            <input type="text" placeholder="House number and street name">
                                        </div>
                                      
                                        <div class="form-group col-lg-12">
                                            <input type="text" placeholder="Apartment, suite, unit, etc.">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <input type="text" placeholder="Town / City">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <input type="number" placeholder="Pincode">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <input type="number" placeholder="Phone">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <input type="email" placeholder="Email Address">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <aside class="col-lg-4">
                                <div class="checkout-cost">
                                    <h4 class="subtotal">Subtotal: <span class="cost">₹460.00</span></h4>
                                    <h4 class="payment-method__title">Payment method</h4>
                                    <div class="payment-method__option">Cash On Delivery (CoD)</div>
                                    <p class="privacy-policy">
                                        Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="">privacy policy</a>.
                                    </p>
                                    <div class="checkout-button">
                                        <input type="submit" value="Place Order" class="btn btn-place-order">
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </form>

          </div>
      </div>
  <!-- </main> -->

    

