<br>
<div class="container">
    <div class="row row-cols-3  g-4">
        <div class="col" *ngFor='let item of custom'>
          <div class="card h-100 tex-white bg-dark border-warning shadow">
            <img [src]="item.imageUrl" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" id="title">{{item.foodMenu}}</h5>
              <p class="card-text" id="rate"><strong>Rate : {{item.rate}}</strong></p>
              <button class="btn btn-primary"id="but" (click)="addcart(item)">Add to Cart</button>
              &nbsp;
          <button class="btn btn-primary" (click)="editCustomMenu(item)">Edit</button>
          &nbsp;
              <button class="btn btn-primary" id="hit" (click)="deleteCustomMenu(item)" >Delete</button>
            </div>
          </div>
        </div> 
    </div>
</div>

