<div class=" text-center text-lg-start bg-black">
    <!-- Grid container -->
     <div class="container p-4 bg-black">
       <!--Grid row-->
       <div id="colo" class="row ">
         <!--Grid column-->
         <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
           <h5 id="vision" class="text-uppercase">VISION</h5>
   
           <p id="vision">
           Food one of the basic requirement of human is being wasted on large amount on daily basis. When minority of population
           is wating a large quantity of food there is people who dies and suffers from malnutrition.Here we present a Customizable
           catering service where you can customize your menu and order items according to your choice.
           </p>
         </div>
         <!--Grid column-->
   
         <!--Grid column-->
         <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
           <h5  id="mission" class="text-uppercase">MISSION</h5>
   
           <p id="mission">
             Our aim is to provide the customer a choice to customize their menu by choosing the quantity and items they want in an 
             affordable rate. To make every special event more special .There is only one options it's crave caters
           </p>
         </div>
         <!--Grid column-->
       </div>
       <!--Grid row-->
     </div>
     <!-- Grid container -->
    </div>
 
 
    <div id="co p-4" class="row row-cols-1 row-cols-md-2 g-4 bg-black">
     <div class="col">
       <div class="card">
         <img id="foo" src="https://thumbs.dreamstime.com/b/catering-food-wedding-event-table-84491977.jpg" class="card-img-top" alt="...">
         <div id="co" class="card-body">
           <h5 class="card-title">Service limit</h5>
           <p class="card-text">There is no limit you can order food of any quantity within kerala.</p>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card">
         <img  id="foo" src="https://images.unsplash.com/photo-1606787366850-de6330128bfc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8&w=1000&q=80" class="card-img-top" alt="...">
         <div id="co" class="card-body">
           <h5 class="card-title">Why to register in crave</h5>
           <p class="card-text"> Crave a place where user is prioritized.</p>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card">
         <img  id="foo" src="https://media.istockphoto.com/photos/cuisine-culinary-buffet-dinner-catering-dining-food-celebration-picture-id637765812?k=20&m=637765812&s=612x612&w=0&h=xcSxwtWtOel8CfjIm-qB1lrblVtH30-7pGG6SSWOSAo=" class="card-img-top" alt="...">
         <div id="co" class="card-body">
           <h5 class="card-title">Customizable menu??</h5>
           <p class="card-text">The customer can select </p>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card">
         <img  id="foo" src="https://thumbs.dreamstime.com/b/catering-food-wedding-event-table-84491977.jpg" class="card-img-top" alt="...">
         <div id="co" class="card-body">
           <h5 class="card-title">Reliable</h5>
           <p class="card-text">We make sure that you are satisfied and happy</p>
         </div>
       </div>
     </div>
   </div>
 
     <div
     class="p-5 text-center bg-image mx-3"
     style="
       background-image: url('https://images.unsplash.com/photo-1518619745898-93e765966dcd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZXZlbnQlMjBmb29kfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
       height: 400px;
     "
   >
     <div  id="ll" class="mask p-4" style="background-color: rgba(0, 0, 0, 0.6);">
       <div class="d-flex justify-content-center align-items-bottom h-100">
          
         <div  class="text-white">
             <br><br>
           <h1 class="mb-3">Lets make it delicious</h1>
           
           <a id="quote" class="btn btn-outline-light btn-lg" href="#!" role="button"
           >Quote your order today</a
           >
         </div>
       </div>
     </div>
   </div>
 
 
   <section class="page-section bg-black p-4" id="team">
     <div class="container">
         <div class="text-center">
             <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
             <h3 class="section-subheading text-muted"></h3>
         </div>
         <div class="row">
             <div class="col-lg-3">
                 <div class="team-member">
                     <img class="mx-auto rounded-circle" src="https://i.pinimg.com/564x/3f/5c/f4/3f5cf4289cf8483ebbc58307f41ae1a8.jpg" alt="..." />
                     <h4>Anantha krishnan Prathapan</h4>
                     <p class="text-muted">Role</p>
                     <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fa fa-twitter"></i></a>
                     <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fa fa-facebook-f"></i></a>
                     <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fa fa-instagram"></i></a>
                 </div>
             </div>
             <div class="col-lg-3">
                 <div class="team-member">
                     <img class="mx-auto rounded-circle" src="https://i.pinimg.com/564x/3f/5c/f4/3f5cf4289cf8483ebbc58307f41ae1a8.jpg" alt="..." />
                     <h4>Nji Jose</h4>
                     <p class="text-muted">Role</p>
                     <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fa fa-twitter"></i></a>
                     <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fa fa-facebook-f"></i></a>
                     <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fa fa-instagram"></i></a>
                 </div>
             </div>
             <div class="col-lg-3">
                 <div class="team-member">
                     <img class="mx-auto rounded-circle" src="https://i.pinimg.com/564x/3f/5c/f4/3f5cf4289cf8483ebbc58307f41ae1a8.jpg" alt="..." />
                     <h4>Nimisha Noushad</h4>
                     <p class="text-muted">Role</p>
                     <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fa fa-twitter"></i></a>
                     <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fa fa-facebook-f"></i></a>
                     <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fa fa-instagram"></i></a>
                 </div>
             </div>
             <div class="col-lg-3">
                 <div class="team-member">
                     <img class="mx-auto rounded-circle" src="https://i.pinimg.com/564x/3f/5c/f4/3f5cf4289cf8483ebbc58307f41ae1a8.jpg" alt="..." />
                     <h4>Alna C.L</h4>
                     <p class="text-muted">Role</p>
                     <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fa fa-twitter"></i></a>
                     <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fa fa-facebook-f"></i></a>
                     <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fa fa-instagram"></i></a>
                 </div>
             </div>
             
         </div>
         <br>
         <div class="row">
             
             <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">"Celebrate flavor.
                 Love flavour love life.
                 We will make your celebration of food with your family and friends lovely"</p></div>
         </div>
     </div>
 </section> 
